*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    padding: 0px;
}
li{
    display: inline-block;
    margin-right: 30px;
    padding: 30px;
}
a{
    text-decoration: none;
    color: rgb(119, 50, 50); 
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
}
.col{
    width: 1200px;
    color: rgb(0, 0, 0);
    max-width: 1200px;
    padding: 5px 0;
}
nav ul :hover{
    background-color: rosybrown;
    padding: 20px 12px;
    transition: 3s;
}